{
  "AccountTag": "{{ pillar.secrets.cloudflared.account.tag }}",
  "TunnelSecret": "{{ pillar.secrets.cloudflared.tunnels.get(grains.host).secret }}",
  "TunnelID": "{{ pillar.secrets.cloudflared.tunnels.get(grains.host).tunnel }}"
}
